<footer class="footer bg-white py-3 mt-auto">
    <!-- p => padding, y => for classes that set both *-top and *-bottom -->
    <div class="container">

        <div class="row footerText">
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-xs-12 mb-3 mt-3 footerList">
                <h6>Shopping Market</h6>
                <ul>
                    <a href="#"><li>About Us</li></a>
                    <a href="#"><li>News</li></a>
                    <a href="#"><li>Green Basket</li></a>
                    <a href="#"><li>Privacy Policy</li></a>
                    <a href="#"><li>Terms and Conditions</li></a>
                    <a href="#"><li>Careers At Shopping Market</li></a>
                </ul>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-xs-12 mb-3 mt-3 footerList">
                <h6>Help</h6>
                <ul>
                    <a href="#"><li>FAQs</li></a>
                    <a href="/contact"><li>Contact Us</li></a>
                    <a href="#"><li>Vendor Connect</li></a>
                </ul>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-xs-12 mb-3 mt-3">
                <h6>Download Our App</h6>
                <a href="#"><img src="/images/GoogleApp.webp" alt="" class="mt-2"></a>
                <a href="#"><img src="/images/AppleApp.png" alt="" class="mt-2"></a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-xs-12 mb-3 mt-3">
                <h6>GET SOCIAL WITH US</h6>
                <ul id="socialList">
                    <li><a href="#"><img src="data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 112.196 112.196' style='enable-background:new 0 0 112.196 112.196;' xml:space='preserve'%3E %3Cg%3E %3Ccircle style='fill:%233B5998;' cx='56.098' cy='56.098' r='56.098'/%3E %3Cpath style='fill:%23FFFFFF;' d='M70.201,58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34 c0-5.964,2.833-15.303,15.301-15.303L71.56,21.81v12.51h-8.151c-1.337,0-3.217,0.668-3.217,3.513v7.585h11.334L70.201,58.294z'/%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E" alt="" id="socialIcons"></a></li>
                    <li><a href="#"><img src="data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 291.319 291.319' style='enable-background:new 0 0 291.319 291.319;' xml:space='preserve'%3E %3Cg%3E %3Cpath style='fill:%23C8232C;' d='M145.659,0c80.45,0,145.66,65.219,145.66,145.66c0,80.45-65.21,145.659-145.66,145.659 S0,226.109,0,145.66C0,65.219,65.21,0,145.659,0z'/%3E %3Cpath style='fill:%23FFFFFF;' d='M150.066,63.781c-51.327,0-77.19,35.632-77.19,65.337c0,17.989,7.028,33.993,22.122,39.956 c2.467,0.974,4.698,0.036,5.408-2.613l2.203-8.403c0.728-2.613,0.446-3.541-1.548-5.826c-4.361-4.962-7.128-11.398-7.128-20.511 c0-26.428,20.42-50.089,53.175-50.089c29.014,0,44.945,17.161,44.945,40.075c0,30.152-13.783,55.606-34.248,55.606 c-11.289,0-19.755-9.04-17.042-20.156c3.241-13.237,9.541-27.539,9.541-37.107c0-8.548-4.743-15.704-14.575-15.704 c-11.553,0-20.829,11.571-20.829,27.074c0,9.878,3.45,16.551,3.45,16.551l-13.901,56.998c-4.124,16.906-0.61,37.644-0.319,39.738 c0.182,1.238,1.821,1.529,2.567,0.601c1.065-1.347,14.821-17.798,19.5-34.239c1.329-4.652,7.602-28.75,7.602-28.75 c3.751,6.946,14.721,13.046,26.383,13.046c34.712,0,58.273-30.652,58.273-71.674C218.444,92.676,191.315,63.781,150.066,63.781z'/%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E" alt="" id="socialIcons"></a></li>
                    <li><a href="#"><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2500' height='2500' viewBox='126.444 2.281 589 589'%3E%3Ccircle cx='420.944' cy='296.781' r='294.5' fill='%232daae1'/%3E%3Cpath d='M609.773 179.634c-13.891 6.164-28.811 10.331-44.498 12.204 16.01-9.587 28.275-24.779 34.066-42.86a154.78 154.78 0 0 1-49.209 18.801c-14.125-15.056-34.267-24.456-56.551-24.456-42.773 0-77.462 34.675-77.462 77.473 0 6.064.683 11.98 1.996 17.66-64.389-3.236-121.474-34.079-159.684-80.945-6.672 11.446-10.491 24.754-10.491 38.953 0 26.875 13.679 50.587 34.464 64.477a77.122 77.122 0 0 1-35.097-9.686v.979c0 37.54 26.701 68.842 62.145 75.961-6.511 1.784-13.344 2.716-20.413 2.716-4.998 0-9.847-.473-14.584-1.364 9.859 30.769 38.471 53.166 72.363 53.799-26.515 20.785-59.925 33.175-96.212 33.175-6.25 0-12.427-.373-18.491-1.104 34.291 21.988 75.006 34.824 118.759 34.824 142.496 0 220.428-118.052 220.428-220.428 0-3.361-.074-6.697-.236-10.021a157.855 157.855 0 0 0 38.707-40.158z' fill='%23fff'/%3E%3C/svg%3E" alt="" id="socialIcons"></a></li>
                    <li><a href="#"><img src="data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 291.319 291.319' style='enable-background:new 0 0 291.319 291.319;' xml:space='preserve'%3E %3Cg%3E %3Cpath style='fill:%233F729B;' d='M145.659,0c80.44,0,145.66,65.219,145.66,145.66S226.1,291.319,145.66,291.319S0,226.1,0,145.66 S65.21,0,145.659,0z'/%3E %3Cpath style='fill:%23FFFFFF;' d='M195.93,63.708H95.38c-17.47,0-31.672,14.211-31.672,31.672v100.56 c0,17.47,14.211,31.672,31.672,31.672h100.56c17.47,0,31.672-14.211,31.672-31.672V95.38 C227.611,77.919,213.4,63.708,195.93,63.708z M205.908,82.034l3.587-0.009v27.202l-27.402,0.091l-0.091-27.202 C182.002,82.116,205.908,82.034,205.908,82.034z M145.66,118.239c22.732,0,27.42,21.339,27.42,27.429 c0,15.103-12.308,27.411-27.42,27.411c-15.121,0-27.42-12.308-27.42-27.411C118.23,139.578,122.928,118.239,145.66,118.239z M209.65,193.955c0,8.658-7.037,15.704-15.713,15.704H97.073c-8.667,0-15.713-7.037-15.713-15.704v-66.539h22.759 c-2.112,5.198-3.305,12.299-3.305,18.253c0,24.708,20.101,44.818,44.818,44.818s44.808-20.11,44.808-44.818 c0-5.954-1.193-13.055-3.296-18.253h22.486v66.539L209.65,193.955z'/%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E" alt="" id="socialIcons"></a></li>
                </ul>
            </div>
            </div>

        </div>
        <div class="mt-5">
            <a href="/"><img src="images/tomato.png" alt="" style="height:50px;"></a>
            <span class="text-muted"><i>By:</i> Mohammad Murad Sako &copy; <strong>2022</strong></span>
        </div>
    </div>
</footer>



