<nav class="navbar sticky-top navbar-expand-lg navbar-white bg-white" style="background-color: #c3d8ff !important;">
    <div class="container-fluid">
        <img src="https://res.cloudinary.com/dai7hljsg/image/upload/v1664286037/market/tomato_wcmjio.webp" alt="" style="height:60px;margin-left:-6px; ">
        <a class="navbar-brand" href="/products" style="color: #6662a3;font-weight: 700;">Shopping Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" aria-current="page" href="/products/new">Add Product</a>
                    <a class="nav-link" aria-current="page" href="/contact">Contact Us</a>
                </div>
                <!-- currentUser Helper: (517) -->
                <div class="navbar-nav ml-auto float-end" >
                    <% if (!currentUser) {%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <%} else {%>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>

            <div class="col-xs-8">
                <div class="dropdown pull-right">
                    
                    <div class="cart">
                        <a href="/carts/shoppingcart"><button type="button" class="btn position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <% if(session.cart){ %>
                                <span class="position-absolute translate-middle badge rounded-pill bg-primary" style="margin:10px 0 0 -10px;">
                                    <%= session.cart.totalQty %></span>
                                <span class="visually-hidden">unread messages</span>
                            <% } %>
                        </button></a>
                    </div>

                    <% if(session.cart){ %>
                    <div class="dropdown-menu shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="content">
                            <h6>Shopping Cart</h6>
                        </div>
                        <div class="miniCartInfo">
                            <div class="row">
                                <div class="col-3">
                                    <!-- <img src="%= product.item.images[0].url %>"  alt="" style="max-width: 50px;"> -->
                                </div>
                                <div class="col-9">
                                    <p>Total Qty: <%= session.cart.totalQty %></p>
                                    <p>Total Qty: <%= session.cart.totalQty %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>


            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg bg-light" style="background-color: #9794bd !important;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:bold; color: white;">
                        SHOP BY CATEGORY
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Fruits</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Vegetables</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Food Grains & Oils</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Bakery</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Dairy</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Cakes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Meat & Fish</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Eggs</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Snacks & Branded Foods</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="font-weight:bold; color: #fdff83;">OFFERS</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
      <li class="breadcrumb-item"><a href="/products">Products</a></li>
    </ol>
</nav> -->


<!-- jquiry dropdown hover -->
<!-- <script>
$(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
});     
</script> -->
