
/* Navbar */

.cart svg{
    color: #6662a3;
    margin-right: 12px;
}
.cart svg:hover{
    color: rgb(246, 85, 85);
}

.cart a .btn:first-child:active {
    border-color: #ffffff;
    color: #c3d8ff;

}
.miniCartInfo {
    width: 300px;
}

/* Shopping Cart Page */
#shopingcartbadge {
    height: 30px; 
    width: 30px; 
    font-size: 16px;
}

/* Search */
#search_nav {
    border-radius:1.5rem ;
}

/*  */
li .dropdown-item {
    display: unset;
}

ul .dropdown-menu {
    --bs-dropdown-border-radius: 0.rem;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

.removeUnderLine {
    text-decoration: none;
    color: black;
}

.card-text {
    color: #787878;
}

#basketBtn {
    border-radius:0% ;
}

#socialList {
    padding-left: 0;
}
#socialList li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding-left: 0;
}

#socialIcons {
    width: 40px;
    height: 40px;
}

.footerText h6 {
    color: #5a53bb;
}
.footerText a {
    text-decoration: none;
    color: #787878;
}

.footerList ul {
    list-style-type: none;
    padding-left: 0rem;
}

.accordion-body li span {
    font-weight: bold;
    list-style:none;
    color: #787878;
}
.accordion-body li {
    list-style:none;
}

/*Cart styles from codesandbox  */

.dropdown-menu .cart {
    min-width: 250px;
    padding: 15px 25px 0;
  }
  
  .dropdown-menu .cart .row > div {
    padding: 0 0 10px 0;
  }
  
  .dropdown-menu .cart .totalPrice{
    font-size: 120%;
    font-weight: bold;
    padding: 15px 0;
  }
  
  .cart.page {
    padding: 25px 0;
  }

  /*  */

#navfooter li a {
    margin-left: 30px;
    color: #6662a3;
}
