<% layout('layouts/boilerplate') %> 
<div class="container">
    <h2 class="text-muted mb-3">Add a New Contact</h2>
    <form action="/contact" method="POST" novalidate class="row validated-form">
        <div class="col-md-4 mb-3">
            <label class="form-label" for="location">location</label>
            <input class="form-control" type="text" id="location" name="contact[location]" placeholder="example: macca, ksa" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>     
        <div class="col-md-4 mb-3">
            <label for="building" class="form-label">Building Number</label>
            <input class="form-control" type="number" name="contact[building]" id="building" placeholder="building Number" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="street" class="form-label">Street</label>
            <input class="form-control" type="text" name="contact[street]" id="street" placeholder="Street Name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="city" class="form-label">City</label>
            <input class="form-control" type="text" name="contact[city]" id="city" placeholder="City" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="state" class="form-label">State</label>
            <input class="form-control" type="text" name="contact[state]" id="state" placeholder="State" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="country" class="form-label">Country</label>
            <input class="form-control" type="text" name="contact[country]" id="country" placeholder="Country" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip" class="form-label">Zip</label>
            <input class="form-control" type="number" name="contact[zip]" id="zip" placeholder="Zip Code" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="tel" class="form-label">Phone</label>
            <input class="form-control" type="number" name="contact[tel]" id="tel" placeholder="Telephone Number" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div>
            <button class="btn btn-success">Add</button>
            <a href="/contact" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>


