<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1>Add A New Products</h1>
    <div class="col-6 offset-3 mt-5">
        <form action="/products" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input class="form-control" type="text" name="product[name]" id="name" placeholder="product name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="number" name="product[price]" id="price" placeholder="product price" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input class="form-control" type="number" name="product[weight]" id="weight" placeholder="Weight kg" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" type="text" name="product[description]" id="description" placeholder="Write a description" required></textarea>
                <label for="description" class="form-label">Description</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input class="form-control" type="text" name="product[rating]" id="rating" placeholder="Rate the product" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="brand">Select The Brand</label>
                <select class="form-select" name="product[brand]" id="brand">
                    <option value="Organic Farm">Organic Farm</option>
                    <option value="Fruits Market">Fruits Market</option>
                    <option value="Country Farm">Country Farm</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="category">Select Category</label>
                <select class="form-select" name="product[category]" id="category">
                    <option value="Fruit">Fruit</option>
                    <option value="Vegetable">Vegetable</option>
                    <option value="Dairy">Dairy</option>
                </select>
            </div>
            <button class="btn btn-success">Add</button>
            <a href="/" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>
